apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ${app_namespace:=forgetToConfigure}
resources:
  - namespace.yaml
  - ../base/whoami
  - ../base/whoami-helmrelease
  - ../base/whoami-helmrelease-indirect-1
  - ../base/whoami-helmrelease-indirect-2
patchesJson6902:
- target:
    kind: HelmRelease
    name: whoami-helmchart
  path: patch-whoami-path.yaml
